<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>285036998999-62ifiuc6nmjbuu5a6gq4ns42ju7ghbho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285036998999-62ifiuc6nmjbuu5a6gq4ns42ju7ghbho</string>
	<key>API_KEY</key>
	<string>AIzaSyBMfd7cE6seqwGflYekucluMS4_yrP7_bw</string>
	<key>GCM_SENDER_ID</key>
	<string>285036998999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BetterPack.LoginTest</string>
	<key>PROJECT_ID</key>
	<string>messagetest-4e61c</string>
	<key>STORAGE_BUCKET</key>
	<string>messagetest-4e61c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:285036998999:ios:a105d1ba96812c3e</string>
	<key>DATABASE_URL</key>
	<string>https://messagetest-4e61c.firebaseio.com</string>
</dict>
</plist>